body{
    background-color: #001E6C ;
}

.title{
    color: rgb(184,197,254);
    font-weight: bolder;
    font-size: 30px ;
    margin: 2% 5% 0 5%;
    border-bottom: 5px solid #5089C6;
    display: block;
}

.rowDiv{    
    display:block;
    text-align: center;
    line-height: 50px;  
    margin-top: 2%;
    color: rgb(184,197,254);
    font-size: x-large;
}

.topDiv{
    height: 25px;
    text-align: center;
    margin-right: 5%;
    max-width: 40px;
    background-color: rgb(184,197,254);
    color: #001E6C;
    border: .1px solid transparent;
    border-width: .1px;
    border-style: solid;
    border-color: transparent;
}

#fontName{
    max-width: fit-content;
}

#undelineLabel, #boldLabel, #italicLabel, #currentKey{
    margin-left: 2%;
    background-color: #5089C6;
    border-radius: 5px;
    border-color:black;
    border-width: 1px;
}

#textArea{
    margin: 2% 5% 0% 5%;
    min-width: 80%;
    min-height: 200px;
    resize: none;
    color: #001E6C;
    font-size: 18px;
    border-radius: 3px;
    border-color:rgb(184,197,254);
    border-width: 2px;
}

.btns{
    height: 40px;
    width: 100px;
    margin-right: 2%;
    font-weight: bolder;
    color: #001E6C;
    background-color: #5089C6;
    border-radius: 5px;
    border-color:black;
    border-width: 1px;
    transition: all 0.3s ease-in-out;
}

.btns:hover{
    box-shadow: 0px 0px 5px rgb(184,197,254);
    color: wheat;
}

.disabledBtn{
    height: 40px;
    width: 80px;
    font-size: auto;
    margin-right: 2%;
    font-weight: bolder;
    color: white;
    background-color: rgb(107, 7, 7);
    border-radius: 5px;
    border-color:black;
    border-width: 1px;
}

.disabledBtn:hover{
    box-shadow: 0px 0px 5px tomato;
    color: wheat;
}

.sub-title{
    color: rgb(184,197,254);
    font-weight: bold;
    font-size: 25px ;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 2%  ;
}

.imgRef{
    text-decoration: none;
}

.credit{
    width: 100%;
    color: white;
    font-style: italic;
    font-size: 12px;
    text-align: center;
    text-shadow: 2px 3px 5px black;
}